<script>
  document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
          events: function (info, successCallback, failureCallback) {
              $.ajax({
                  type: 'GET',
                  url: 'http://localhost:3006/appuntamenti',
                  success: function (data) {
                      var events = [];
                      for (var i = 0; i < data.length; i++) {
                          events.push({
                              title: data[i].title,
                              start: data[i].start,
                              end: data[i].end
                          });
                          console.log(events)
                      }
                      successCallback(events);
                  },
                  error: function () {
                      failureCallback();
                  }
              });
          },
          initialView: 'dayGridDay',
          timeZone: 'Europe/Rome'
      });
      calendar.render();
  });
</script>



<div class="container">
  <div class="row p-5">
    <div class="col-sm-8">
      <h5>Appuntamenti Odierni</h5>
      <table class="table table-hover">
        <thead style="background-color: #D6EFFF;">
          <tr>
            <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> Paziente</th>
            <th scope="col"><i class="fa fa-calendar-o" aria-hidden="true"></i> Data</th>
            <th scope="col"><i class="fa fa-clock-o" aria-hidden="true"></i> Orario</th>
            <th scope="col"><i class="fa fa-ticket" aria-hidden="true"></i> Poltrona</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data">12</td>
            <td data-label="Orario">1</td>
            <td data-label="Poltrona">2</td>
          </tr>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data">12</td>
            <td data-label="Orario">1</td>
            <td data-label="Poltrona">2</td>
          </tr>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data">12</td>
            <td data-label="Orario">1</td>
            <td data-label="Poltrona">2</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td>
              <a href="/filtri" class="btn btn-primary">Visualizza altri</a>
            </td>
          </tr>

        </tbody>

      </table>

    </div>
    <div class="col-sm-4">

      <div id="calendar">
      </div>

    </div>
  </div>
  <div class="row">
    <h5>Pazienti</h5>
    <div class="col-sm">
      <table class="table table-hover">
        <thead style="background-color: #D6EFFF;">
          <tr>
            <th scope="col">Paziente</th>
            <th scope="col">Numero Telefonico</th>
            <th scope="col">E-mail</th>
            <th scope="col">Prossimo Appuntamento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% 
    for (var i=0; i<pazienti.length && i<6; i++) {
      var date = new Date(pazienti[i].dataNascita);
    %>
        <tr>
          <td scope="row" class="text-center"> <%= pazienti[i].nome %> </td>
          <td scope="row" class="text-center"> <%= pazienti[i].cf %> </td>
          <td scope="row" class="text-center"> <%= pazienti[i].sesso %> </td>
          <td scope="row" class="text-center"> <%= date.toLocaleDateString("it-IT") %> </td>
          <td scope="row" class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoPaziente<%= pazienti[i]._id %>">
          Altre info
        </button></td>
        <div class="modal fade" id="infoPaziente<%= pazienti[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="infoPaziente<%= pazienti[i]._id %>Label" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="infoPaziente<%= pazienti[i]._id %>Label">Nome e cognome del paziente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body row g-3">
                      <div class="col-md-12">
                        <label class="form-label" for="nome-paziente" style="font-weight: bold;">Nome e cognome del paziente:</label>
                        <p><%= pazienti[i].cognome %><%= pazienti[i].nome %></p>
                      </div>
                      <div class="col-md-12">
                        <label class="form-label" for="cf-paziente" style="font-weight: bold;">Codice fiscale:</label>
                        <p><%= pazienti[i].cf %></p>
                      </div>
                      <div class="col-md-12">
                        <label for="sesso" class="form-label" style="font-weight: bold;">Sesso:</label>
                        <p><%= pazienti[i].sesso %></p>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="eta-paziente" style="font-weight: bold;">Età:</label>
                        <p><%= pazienti[i].eta %></p>
                      </div>
                      <div class="col-md-8">
                        <label for="data-nascita" class="form-label" style="font-weight: bold;">Data nascita:</label>
                        <p><%= date.toLocaleDateString("it-IT") %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="num-tel" class="form-label" style="font-weight: bold;">Num. Telefono:</label>
                        <p><%= pazienti[i].telefono %></p>
                      </div>
                      <div class="col-md-8">
                        <label for="email" class="form-label" style="font-weight: bold;">Email:</label>
                        <p><%= pazienti[i].email %></p>
                      </div>
                      <div class="col-12">
                        <label for="priorita" class="form-label" style="font-weight: bold;">Priorità</label>
                        <p><%= pazienti[i].priorita %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-inquinamento-ambientale" class="form-label" style="font-weight: bold;">Indice inquinamento ambientale</label>
                        <p><%= pazienti[i].indice_inquinamento_ambientale %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-uso-alcolici" class="form-label" style="font-weight: bold;">Indice uso alcolici</label>
                        <p><%= pazienti[i].indice_uso_alcolici %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="grado-allergia" class="form-label" style="font-weight: bold;">Grado allergia</label>
                        <p><%= pazienti[i].grado_allergia %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="grado-rischio-lavorativo" class="form-label" style="font-weight: bold;">Grado di rischio lavorativo</label>
                        <p><%= pazienti[i].grado_rischio_lavorativo %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-rischio-familiare" class="form-label" style="font-weight: bold;">Indice fattore di rischio familiare</label>
                        <p><%= pazienti[i].indice_fattori_rischio_familiare %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-malattie-croniche" class="form-label" style="font-weight: bold;">Indice di malattie croniche</label>
                        <p><%= pazienti[i].indice_malattie_croniche %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-alimentazione-scorretta" class="form-label" style="font-weight: bold;">Indice di alimentazione scorretta</label>
                        <p><%= pazienti[i].indice_alimentazione_scorretta %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-obesita" class="form-label" style="font-weight: bold;">Indice di obesità</label>
                        <p><%= pazienti[i].indice_obesita %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="grado-esposizione-fumo-attivo" class="form-label" style="font-weight: bold;">Grado di esposizione a fumo attivo</label>
                        <p><%= pazienti[i].grado_esposizione_fumo_attivo %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="grado-esposizione-fumo-passivo" class="form-label" style="font-weight: bold;">Grado di esposizione a fumo passivo</label>
                        <p><%= pazienti[i].grado_esposizione_fumo_passivo %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-dolori-localizzati" class="form-label" style="font-weight: bold;">Indice di dolori localizzati</label>
                        <p><%= pazienti[i].indice_dolori_localizzati %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-emottisi" class="form-label" style="font-weight: bold;">Indice emottisi</label>
                        <p><%= pazienti[i].indice_emottisi %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-astenia" class="form-label" style="font-weight: bold;">Indice astenia</label>
                        <p><%= pazienti[i].indice_astenia %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-perdita-peso" class="form-label" style="font-weight: bold;">Indice di perdita di peso</label>
                        <p><%= pazienti[i].indice_perdita_peso %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-dispnea" class="form-label" style="font-weight: bold;">Indice dispnea</label>
                        <p><%= pazienti[i].indice_dispnea %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-respiro-sibilante" class="form-label" style="font-weight: bold;">Indice respiro sibilante</label>
                        <p><%= pazienti[i].indice_respiro_sibilante %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-disfagia" class="form-label" style="font-weight: bold;">Indice disfagia</label>
                        <p><%= pazienti[i].indice_disfagia %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="stato-dita-ippocrate" class="form-label" style="font-weight: bold;">Stato dita di Ippocrate</label>
                        <p><%= pazienti[i].stato_dita_di_Ippocrate %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="stato-immunodepressione" class="form-label" style="font-weight: bold;">Stato di immunodepressione</label>
                        <p><%= pazienti[i].stato_immunodepressione %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-tosse-secca" class="form-label" style="font-weight: bold;">Indice di tosse secca</label>
                        <p><%= pazienti[i].indice_tosse_secca %></p>
                      </div>
                      <div class="col-md-4">
                        <label for="indice-russamento" class="form-label" style="font-weight: bold;">Indice di russamento</label>
                        <p><%= pazienti[i].indice_russamento %></p>
                      </div>
                    </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        </tr> 
    <%
    } 
    %>
       </tbody>
      </table>
    </div>
  </div>
</div>

</div>
</div>
</div>