<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      events: function (info, successCallback, failureCallback) {
        $.ajax({
          type: 'GET',
          url: 'http://localhost:3006/appuntamenti',
          success: function (data) {
            var events = [];
            for (var i = 0; i < data.length; i++) {
              events.push({
                title: data[i].title,
                start: data[i].start,
                end: data[i].end
              });
            }
            successCallback(events);
          },
          error: function () {
            failureCallback();
          }
        });
      },
      contentHeight:500,
      initialView: 'dayGridDay',
      timeZone: 'Europe/Rome'
    });
    calendar.render();
  });
</script>

<div class="container h-100">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!-- Primo elemento - 12 colonne su dispositivi piccoli, 7 colonne su dispositivi di dimensioni medie e più grandi -->
      <h3 style="font-weight: bolder;">Pazienti</h3>
      <table class="table table-hover mt-3">
        <thead style="background-color: #D6EFFF;">
          <tr>
            <th scope="col">Paziente</th>
            <th scope="col">Numero Telefonico</th>
            <th scope="col">E-mail</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i<pazienti.length && i<6; i++) { %>
            <% var date=new Date(pazienti[i].dataNascita); %>
              <tr>
                <td scope="row">
                  <%= pazienti[i].nome %>
                    <%= pazienti[i].cognome %>
                </td>
                <td scope="row">
                  <%= pazienti[i].telefono%>
                </td>
                <td scope="row">
                  <%= pazienti[i].email %>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#infoPaziente<%= pazienti[i]._id %>">
                    Info
                  </button>
                </td>
                <div class="modal fade" id="infoPaziente<%= pazienti[i]._id %>" tabindex="-1" role="dialog"
                  aria-labelledby="infoPaziente<%= pazienti[i]._id %>Label" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="infoPaziente<%= pazienti[i]._id %>Label">Nome e cognome del
                          paziente
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body row g-3">
                        <div class="col-md-12">
                          <label class="form-label" for="nome-paziente" style="font-weight: bold;">Nome e cognome del
                            paziente:</label>
                          <p>
                            <%= pazienti[i].cognome %>
                              <%= pazienti[i].nome %>
                          </p>
                        </div>
                        <div class="col-md-12">
                          <label class="form-label" for="cf-paziente" style="font-weight: bold;">Codice
                            fiscale:</label>
                          <p>
                            <%= pazienti[i].cf %>
                          </p>
                        </div>
                        <div class="col-md-12">
                          <label for="sesso" class="form-label" style="font-weight: bold;">Sesso:</label>
                          <p>
                            <%= pazienti[i].sesso %>
                          </p>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="eta-paziente" style="font-weight: bold;">Età:</label>
                          <p>
                            <%= pazienti[i].eta %>
                          </p>
                        </div>
                        <div class="col-md-8">
                          <label for="data-nascita" class="form-label" style="font-weight: bold;">Data
                            nascita:</label>
                          <p>
                            <%= date.toLocaleDateString("it-IT") %>
                          </p>
                        </div>
                        <div class="col-md-4">
                          <label for="num-tel" class="form-label" style="font-weight: bold;">Num. Telefono:</label>
                          <p>
                            <%= pazienti[i].telefono %>
                          </p>
                        </div>
                        <div class="col-md-8">
                          <label for="email" class="form-label" style="font-weight: bold;">Email:</label>
                          <p>
                            <%= pazienti[i].email %>
                          </p>
                        </div>
                        <div class="col-12">
                          <label for="priorita" class="form-label" style="font-weight: bold;">Priorità</label>
                          <p>
                            <%= pazienti[i].priorita %>
                          </p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
              <%}%>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-6">
      <!-- Secondo elemento - 12 colonne su dispositivi piccoli, 5 colonne su dispositivi di dimensioni medie e più grandi -->
      <div id="calendar">
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>