<div class="container p-5 ">

  <div class="w-50">
    <div class="container-fluid">
      <h2 class="mt-3 font weight bold text-center">Ricerca Terapia</h2>
    </div>
    <form class="form-inline justify-content-center mt-3">
      <div class="form-group">
        <label for="codiceFiscale">Codice Fiscale:</label>
        <input oninput="search();" type="text" class="form-control" id="codiceFiscale"
          placeholder="Inserisci il tuo Codice Fiscale">
      </div>
    </form>
  </div>

  <div class="row mt-5">
    <div class="col-sm-10">
      <h5>Tutte le Terapie</h5>
      <table class="table table-hover" id="terapie-table">
        <thead style="background-color: #D6EFFF;">
          <tr>
            <th scope="col"> CF Paziente</th>
            <th scope="col"> Farmaco</th>
            <th scope="col"> Data</th>
            <th scope="col"> Numero appuntamenti</th>
            <th scope="col"> Stato</th>
            <th scope="col"> Frequenza</th>
            <th scope="col"> Gestisci</th>
          </tr>
        </thead>
        <tbody>
          <% terapie.forEach(terapia=> { %>
            <tr>
              <td data-label="cfPaziente">
                <%= terapia.cfPaziente %>
              </td>
              <td data-label="farmaco">
                <%= terapia.farmaco %>
              </td>
              <td data-label="dataInizio" class="data" data-date="<%= terapia.dataInizio %>"></td>
              </td>
              <td data-label="numAppuntamenti">
                <%= terapia.numAppuntamenti %>
              </td>
              <td data-label="stato">
                <%= terapia.stato %>
              </td>
              <td data-label="frequenzaAppuntamenti">
                <%= terapia.frequenzaAppuntamenti %>
              </td>
              <td data-label=""><button type="button" data-id="<%= terapia._id%>"
                  class="btn-modifica btn btn-sm btn-primary">Modifica</button></td>

            </tr>
            <% }) %>



        </tbody>

      </table>
    </div>
  </div>
</div>

<script>
  var elementoData = document.querySelectorAll(".data");
  elementoData.forEach(e => {
    var dataISO = e.dataset.date;
    var data = dataISO.slice(0, 10);
    e.innerHTML = data;
  })

</script>


<script>
  const buttonModifica = document.querySelectorAll('.btn-modifica')

  buttonModifica.forEach(btn => {
    btn.addEventListener('click', event => {
      const id = event.target.getAttribute('data-id');
      console.log(id);
      window.location.href = "/modificaTerapia?id=" + id;
    });
  });
</script>


<script>


  function search() {
    var cf = document.getElementById("codiceFiscale").value;
    $.get("http://localhost:3050/terapie/filter", { cf: cf }, function (data) {
      $('#terapie-table tbody').empty();
      data.forEach(element => {
        var tableRow =
          `<tr>
          <td scope="row"> ${element.cfPaziente} </td> 
          <td scope="row"> ${element.farmaco} </td>
          <td scope="row"> ${element.dataInizio.slice(0,10)} </td>
          <td scope="row"> ${element.numAppuntamenti} </td>
          <td scope="row"> ${element.stato} </td>
          <td scope="row"> ${element.frequenzaAppuntamenti} </td>
          <td scope="row"> 
            <button type="button" data-id="${element._id}" class="btn-modifica btn btn-sm btn-primary">Modifica</button>
          </td>
        </tr>`;
        $("#terapie-table > tbody").append(tableRow);
        const buttonModifica = document.querySelectorAll('.btn-modifica')

        buttonModifica.forEach(btn => {
          btn.addEventListener('click', event => {
            const id = event.target.getAttribute('data-id');
            console.log(id);
            window.location.href = "/modificaTerapia?id=" + id;
          });
        });
      });
    });
  }
</script>