<div class="w-25">
    <form action="updateTerapia" method="post">
        <div class="form-group">
            <label style="font-weight: bolder;"class="mb-2" for="cfPaziente">Codice Fiscale</label>
            <input type="text" class="form-control" name="cfPaziente" id="cfPaziente"
                placeholder="<%= terapia.cfPaziente %> ">
        </div>
        <div class="form-group">
            <label style="font-weight: bolder;"class="mb-2 mt-2" for="farmaco">Farmaco</label>
            <input type="text" class="form-control" name="farmaco" id="farmaco" placeholder="<%= terapia.farmaco %>">
        </div>
        <div class="form-group">
            <label style="font-weight: bolder;"class="mb-2 mt-2" for="datetimepicker">Data</label>
            <input type="hidden" id="inizio" value="<%= terapia.dataInizio %>">
            <input type="datetime-local" class="form-control datetimepicker " id="dataInizio" name="dataInizio">
        </div>
        <div class="form-group">
            <label style="font-weight: bolder;"class="mb-2 mt-2" for="numAppuntamenti">Numero Appuntamenti</label>
            <input type="number" class="form-control" id="numAppuntamenti" placeholder="<%= terapia.numAppuntamenti %>"
                name="numAppuntamenti">
        </div>
        <div class="form-group">
            <label style="font-weight: bolder;"class="mb-2 mt-2" for="stato">Stato</label>

            <% if (terapia.stato=='In corso' ) { %>
                <select class="form-select" name="stato" id="stato">
                    <option value="In corso" selected>In corso</option>
                    <option value="Non schedulata">Non schedulata</option>
                    <option value="Terminata">Terminata</option>
                </select>
                <% } else if(terapia.stato=='Non schedulata' ) {%>
                    <select class="form-select" name="stato" id="stato">
                        <option value="In corso">In corso</option>
                        <option value="Non schedulata" selected>Non schedulata</option>
                        <option value="Terminata">Terminata</option>
                    </select>
                    <% } else if(terapia.stato=='Terminata') {%>
                        <select class="form-select" name="stato" id="stato">
                            <option value="In corso">In corso</option>
                            <option value="Non schedulata">Non schedulata</option>
                            <option value="Terminata" selected>Terminata</option>
                        </select>
                        <% } %>
        </div>
        <div class="form-group">
            <label style="font-weight: bolder;"class="mb-2 mt-2" for="frequenzaAppuntamenti">Frequenza</label>

            <% if (terapia.frequenzaAppuntamenti==7) { %>
                <select class="form-select" name="frequenzaAppuntamenti" id="frequenzaAppuntamenti">
                    <option value="7" selected>7</option>
                    <option value="14">14</option>
                    <option value="21">21</option>
                </select>
                <% } else if(terapia.frequenzaAppuntamenti==14) {%>
                    <select class="form-select" name="frequenzaAppuntamenti" id="frequenzaAppuntamenti">
                        <option value="7">7</option>
                        <option value="14" selected>14</option>
                        <option value="21">21</option>
                    </select>
                    <% } else if(terapia.frequenzaAppuntamenti==21) {%>
                        <select class="form-select" name="frequenzaAppuntamenti" id="frequenzaAppuntamenti">
                            <option value="7">7</option>
                            <option value="14">14</option>
                            <option value="21" selected>21</option>
                        </select>
                        <% } %>

        </div>
        <input type="hidden" name="id" value="<%= terapia._id %>">
        <button id="invia" type="submit" class="btn btn-primary mt-3">Modifica</button>
    </form>
</div>


</div>
</div>
</div>

<script>
    const options = {
        year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric',
        timeZone: 'UTC'
    };
    const d_inizio = document.getElementById('inizio').value;
    const di = document.getElementById('dataInizio')
    const formattedDateInizio = d_inizio.substring(0, 16);
    di.value = formattedDateInizio;

    const d_fine = document.getElementById('fine').value;
    const df = document.getElementById('dataFine')
    var formattedDateFine = d_fine.substring(0, 16);
    df.value = formattedDateFine;
    
</script>