<div id="terapie-table">
    <p>La priorità assegnata al paziente è <%= priorita %>
    </p>
    <table class="table table-hover">
        <thead style="background-color: #D6EFFF;">
            <tr>
                <th scope="col"> CF Paziente</th>
                <th scope="col"> Farmaco</th>
                <th scope="col"> Data</th>
                <th scope="col"> Numero appuntamenti</th>
                <th scope="col"> Stato</th>
                <th scope="col"> Frequenza</th>
            </tr>
        </thead>
        <tbody>
            <% terapie.forEach(terapia=> { %>
                <input type="hidden" id="frequenza"  name="frequenza" value="<%=  terapia.frequenzaAppuntamenti %>">
                <input type="hidden"  id="numAppuntamenti" name="numAppuntamenti" value="<%= terapia.numAppuntamenti %>">
                <input type="hidden" id="cf" name="cf" value="<%= terapia.cfPaziente %>">
                <input type="hidden" name="farmaco" id="farmaco" value="<%= terapia.farmaco %>">
                <input type="hidden" name="priorita" id="priorita" value="<%= priorita %>">
                <tr>
                    <td data-label="cfPaziente">
                        <%= terapia.cfPaziente %>
                    </td>
                    <td data-label="farmaco">
                        <%= terapia.farmaco %>
                    </td>
                    <td data-label="dataInizio" class="data" data-date="<%= terapia.dataInizio %>"></td>
                    </td>
                    <td  data-label="numAppuntamenti">
                        <%= terapia.numAppuntamenti %>
                    </td>
                    <td data-label="stato">
                        <%= terapia.stato %>
                    </td>
                    <td data-label="frequenzaAppuntamenti">
                        <%= terapia.frequenzaAppuntamenti %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="w-50">
        <form>
            <div class="form-group">
                <label for="datetimepicker">Data Inizio</label>
                <input type="date" class="form-control datetimepicker " id="datetimepicker" name="dataInizio">
                <label for="durata">Durata appuntamento</label>
                <select name="durata" id="durata">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button type="submit" id="schedula" class="btn btn-primary mt-3">Schedula</button>
        </form>
    </div>
    <div id="listAppuntamenti">

    </div>
</div>

<script>
    $(document).ready(function() {
        $('#schedula').click(function (e) {
            e.preventDefault()
            const dataInizio =  $('#datetimepicker').val()
            const numAppuntamenti = $('#numAppuntamenti').val()
            const frequenza = $('#frequenza').val()
            const durata = $("#durata option:selected").val()
            const cf = $('#cf').val()
            const farmaco = $('#farmaco').val()
            const priorita = $('#priorita').val()
            let OraInizio
            if(priorita == 'Alta' || priorita == 'alta'){
                OraInizio = 9
            } else if(priorita == 'Media' || priorita == 'media'){
                OraInizio = 13
            } else if(priorita == 'Bassa' || priorita == 'bassa') {
                OraInizio = 18
            }
            console.log(OraInizio)
            $.ajax({
                url : '/generateAppuntamenti',
                type : "POST",
                dataType : 'json',
                data : {
                    cf: cf,
                    farmaco: farmaco,
                    dataInizio : dataInizio,
                    durata: durata,
                    numAppuntamenti : numAppuntamenti,
                    frequenza: frequenza,
                    priorita: priorita,
                    OraInizio: OraInizio
                },
                success: function(data) {
                    console.log(data)
                }
            })
        })
    })
</script>



</div>
</div>
</div>